body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #659dbd;
    color:#fff;
  }

  #options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    align-items: center;
    font-size: 20px;
  }

  #options div {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  #page-select {
    width: 40px;
  }

  #indicators {
    background-color: #fbeec1;
    width: 100% - 40px;
    border-radius: 50px;
    color: #9c8059;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  #indicators div {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
  }
  
  #indicators div span:first-child {
    grid-column: 1 / -1;
  }
  
  #indicators span {
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3000px, 100%));
    grid-gap: 20px;
  }
  
  .product {
    background-color: #fbeec1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 250px;
    margin: 10px;
  }
  
  .product a {
    color: #9C8069;
    text-decoration: none;
  }
  
  .product img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product span {
    display: block;
    margin-top: 10px;
  }
  
  .product-info button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f5f5f5;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #999999;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555555;
  }

  #show{
    background-color: #fbeec1;
    width: 100% - 40px;
    border-radius: 50px;
    color:#2e3336;
  }

  #show-select {
    background-color: #fbeec1;
    color:#2e3336;
    border: none;
  }

  #page{
    background-color: #fbeec1;
    width: 100% - 40px;
    border-radius: 50px;
    color:#2e3336;
  }

  #page-select {
    background-color: #fbeec1;
    color:#2e3336;
    border: none;
  }

  #brand{
    background-color: #fbeec1;
    width: 100% - 40px;
    border-radius: 50px;
    color:#2e3336;
  }

  #brand-select {
    background-color: #fbeec1;
    color:#2e3336;
    border: none;
  }

  #sort{
    background-color: #fbeec1;
    width: 100% - 30px;
    border-radius: 50px;
    color:#2e3336;
  }

  #sort-select {
    background-color: #fbeec1;
    color:#2e3336;
    border: none;
  }
  
  